src/data/texts
src/data/constants.py
venv
__pycache__/
*.pyc
*.pyo
src/results/llm/**/prompts/**
other
src/code/generating/test_tmp.py
src/code/generating/test.py
#src/data/prompts/few-shot/1-shot
src/code/parsing/test_result.json
src/results/llm/initial_testing_01/gemma4_negative_feedback_analysis